In [30]:
import pandas as pd

In [31]:
pd.__version__

'1.5.3'

In [32]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz',nrows=100)

In [33]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz',iterator=True, chunksize=100000)

In [34]:
df = next(df_iter)

In [35]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [36]:
from sqlalchemy import create_engine

In [37]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [38]:
engine.connect()

In [39]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [40]:
%time df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists ='replace')

CPU times: user 57.4 ms, sys: 31.7 ms, total: 89.1 ms
Wall time: 345 ms

0

In [41]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists ='append')

CPU times: user 8.52 s, sys: 3.85 s, total: 12.4 s
Wall time: 23.2 s

1000

In [42]:
from time import time

In [43]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists ='append')
    t_end = time()

    print('inserted another chunk...., took %.3f seconds' % (t_end-t_start))

inserted another chunk...., took 19.507 seconds
inserted another chunk...., took 20.374 seconds
inserted another chunk...., took 19.878 seconds
inserted another chunk...., took 18.607 seconds
inserted another chunk...., took 19.737 seconds
inserted another chunk...., took 19.003 seconds
inserted another chunk...., took 18.443 seconds
inserted another chunk...., took 21.376 seconds
inserted another chunk...., took 17.391 seconds
inserted another chunk...., took 18.795 seconds
inserted another chunk...., took 17.910 seconds

/tmp/ipykernel_3798/3335902302.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 19.391 seconds
inserted another chunk...., took 11.456 seconds

StopIteration:

In [44]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz')
len(df.index)

/tmp/ipykernel_3798/375630054.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv.gz')

1369765